@import 'tailwindcss';
@import 'tw-animate-css';

@import './style.css';

html, body, #app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button,
input,
a {
  -webkit-app-region: no-drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
